@import "PopularCourses.css";
@import "Header.css";
@import "Body.css";
@import "PopularArticles.css";
@import "PopularArticle.css";
@import "Footer.css";
@import "PopularCourse.css";
@import "HeaderForCourseAndLesson.css";
@import "CourseFirstBlock.css";
@import "BodyForCourse.css";

body {
    background-color: #23231A;
}

*{
    margin: 0;
    padding: 0;
}