@import "PopularCourses.css";
@import "Header.css";
@import "Body.css";
@import "PopularArticles.css";
@import "PopularArticle.css";
@import "Footer.css";
@import "PopularCourse.css";
@import "HeaderForCourseAndLesson.css";
@import "CourseFirstBlock.css";
@import "BodyForCourse.css";
@import "CourseSecondBlock.css";
@import "CourseThirdBlock.css";
@import "CourseFourthBlock.css";
@import "LessonPage.css";
@import "PersonalAreaHeader.css";
@import "PersonalAreaPage.css";
@import "CreateCoursePage.css";
@import "CourseProgramPage.css";
@import "AddNewLessonPage.css";
@import "AuthorisationPage.css";

body {
    background-color: #23231A;
}

*{
    margin: 0;
    padding: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
}
