.create-course-page-container{
    margin-left: 384px;
    color: white;
    display: flex;
    flex-direction: column;
}
.create-course-page-head{
    margin-top: 32px;
    font-weight: 400;
    font-size: 64px;
}
.create-course-page-course-name-string{
    margin-top: 36px;
    font-weight: 400;
    font-size: 32px;
}
.create-course-page-course-name-input{
    margin-top: 12px;
    width: 800px;
    height: 80px;
    background: #F5F5F5;
    border: 1px solid #000000;
    border-radius: 10px;
}
.create-course-page-course-name-characters-maximum{
    margin-top: 12px;
    font-weight: 400;
    font-size: 32px;
}
.create-course-page-avatar-input{
    display: none;
}
.create-course-page-avatar-input-label{
    width: 400px;
    height: 80px;
    margin-top: 36px;
    background: #E6E18F99;
    border-radius: 20px;
    font-weight: 400;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.create-course-page-future-work-input-label{
    width: 200px;
    height: 80px;
    background: #E6E18F99;
    border-radius: 20px;
    font-weight: 400;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.create-course-page-description-input{
    margin-top: 36px;
    width: 800px;
    height: 250px;
    background: #F5F5F5;
    border: 1px solid #000000;
    border-radius: 10px;
    padding-left: 24px;
    padding-top: 10px;
    color: #00000099;
    font-weight: 400;
    font-size: 24px;
    resize: vertical;
}
.create-course-page-nav-link{
    width: 400px;
    height: 80px;
    margin-top: 36px;
    margin-bottom: 32px;
    background: #E6E18F99;
    border-radius: 20px;
    font-weight: 400;
    font-size: 36px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    cursor: pointer;
}
.create-course-page-drop-down-container{
    display: flex;
    flex-direction: row;
}
.create-course-page-drop-down-block{
    margin-left: 24px;
    margin-top: 36px;
}
.create-course-page-drop-down-block:first-child{
    margin-left: 0;
}
.create-course-page-drop-down-button{
    background: none;
    outline: none;
    color: white;
    box-sizing: border-box;
    border: 3px solid #FFFFFF;
    border-radius: 20px;
    width: 350px;
    height: 80px;
    font-weight: 400;
    font-size: 40px;
    cursor: pointer;
}
.create-course-page-wrapper{
    position:fixed;
    display:flex;
    width:100%;
    height:100%;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,.5);
    z-index:100;
}
.create-course-page-future-work-example-string{
    margin-top: 36px;
    font-weight: 400;
    font-size: 32px;
}
.create-course-page-avatar-preview{
    width: 120px;
    height: 80px;
    display: block;
    margin-right: 10px;
    cursor: pointer;
}
.create-course-page-future-work-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 36px;
}