.drop-down-menu{
    position: absolute;
    padding: 10px;
    background: #4B4734;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 350px;
}
.drop-down-menu-item{
    color: white;
    margin-top: 10px;
    font-size: 30px;
    font-weight: 400;
}
.drop-down-menu-item:first-child{
    margin-top: 0;
}