.lesson-page-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.lesson-page-video-and-title-container{
    width: 1300px;
    padding-bottom: 56px;
    background: #4B4734;
    margin-top: 230px;
    border-radius: 20px;
}
.lesson-page-title{
    font-size: 64px;
    font-weight: 400;
    margin-left: 12px;
}
.lesson-page-introduction{
    margin-left: 12px;
    margin-top: 12px;
    font-size: 36px;
    font-weight: 400;
}
.lesson-page-video{
    margin-top: 33px;
    margin-left: 10px;
}
.lesson-page-content-container{
    margin-top: 10px;
    width: 1300px;
    padding-bottom: 30px;
    background: #4B4734;
    border-radius: 20px;
}
.lesson-page-content-word{
    margin-top: 12px;
    margin-left: 12px;
    font-size: 48px;
    font-weight: 500;
}
.lesson-page-text-content{
    margin-left: 12px;
    margin-top: 24px;
    font-weight: 400;
    font-size: 36px;
}
.lesson-page-home-work-container{
    width: 1300px;
    margin-top: 10px;
    padding-bottom: 34px;
    background: #4B4734;
    border-radius: 20px;
}
.lesson-page-home-work-title{
    margin-top: 12px;
    margin-left: 12px;
    font-weight: 500;
    font-size: 48px;
}
.lesson-page-text-home-work{
    margin-left: 12px;
    margin-top: 24px;
    font-weight: 400;
    font-size: 36px;
}
.lesson-page-buttons-container{
    margin-top: 10px;
    width: 1300px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.lesson-page-button{
    width: 400px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: 4px solid #FFFFFF;
    border-radius: 40px;
    box-sizing: border-box;
    color: white;
    font-weight: 400;
    font-size: 48px;
    cursor: pointer;
}